<form novalidate (ngSubmit)="onSubmit(addNoteForm.value)" [formGroup]="addNoteForm">
	<div>
		<label>Tytuł</label>
		<input type="text" formControlName="subject">
		<div *ngIf="addNoteForm.get('subject').hasError('required') && addNoteForm.get('subject').touched">
			Musisz wprowadzić temat.
		</div>
	</div>
	<div>
		<label>Notatka</label>
		<input type="text" formControlName="body">
		<div *ngIf="addNoteForm.get('body').hasError('required') && addNoteForm.get('body').touched">
			Musisz wprowadzić tekst.
		</div>
	</div>
	<div>
		<input type="submit" value="Dodaj" [disabled]="addNoteForm.invalid">
    <input type="button" value="Anuluj" (click)="onCancel()">
	</div>
</form>

{{ addNoteForm.value | json}}