@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7EAC0;
    color: #E09D8B;
    font: 1.0em 'Oswald', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.15em;
    margin-bottom: .1em;
}

h1 { font-size: 1.9em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1em;}
h6 {font-size: 0.9em;}
p {font-size: 0.9em;}

p { line-height: 1.15em; margin-bottom: .75em;}

.fl {
    float: left;
}

.rounded {
    border-radius: 10px;
    overflow: hidden;
}

.clearfix::after {
    display: block;
    width: 0;
    content: ".";
    clear: both;
}

.mb-10 {
    margin-bottom: 10px;
}

input[type='button'] {
    border-radius: 10px;
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: #F7EAC0;
    border: 2px solid #F0BD89;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type='button']:hover {
    background-color: #F0BD89;
}

input[type='button']:active {
    background-color: #E09D8B;
}

input[type='button']:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid green;
}

.ng-pristine[required], .ng-valid.required {
    border-left: none;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}