@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    background-color: #F7EAC0;
    color: #E09D8B;
    font-family: 'Oswald', sans-serif;
}

.clearfix::after {
    display: block;
    width: 0;
    content: ".";
    clear: both;
}
